{%- extends "layout.html" -%}

{%- block main -%}
<!--<a href="{{url_for('assignments.treatments')}}">-->
<div class="text-center home-background">
    <div class="dashboard-header">
        <div class="dashboard-title">{{_('My Dashboard')}}</div>
        <form id="filter-form" class="form-inline dashboard-filter-part" action="" method="GET">
            <div class="form-group  mx-sm-1">
                {% if fromDate:%}
                <input id="from-date-picker" name="from" width="200" value="{{fromDate}}"/>
                {% else: %}
                <input id="from-date-picker" name="from" width="200"/>
                {% endif %}
            </div>
            <p>&#8594;</p>
            <div class="form-group  mx-sm-1">
                {% if toDate:%}
                <input id="to-date-picker" name="to" width="200" value="{{toDate}}"/>
                {% else: %}
                <input id="to-date-picker" name="to" width="200"/>
                {% endif %}
            </div>
            <div class="form-group  mx-sm-1">
                <input type="checkbox" id="filter-checker">
            </div>
        </form>
    </div>
    <div class="clearfix"></div>
    <div class="dashboard-body">
        <div class="main-count-table">
            <div class="gray-background text-left left-border-line" id="main-count-table-title">{{_('Dashboard')}}</div>
            <div class="main-count-info-row gray-background left-border-line">
                <div class="info-table-cell text-center">
                    <a class="btn coloredNumberCell cell-skyblue" href="{{url_for('assignments.treatments')}}" data-toggle="tooltip" data-placement="top">
                        {{ treatment_count }}
                    </a>
                </div>
                <div class="info-table-cell text-center">
                    <a class="btn coloredNumberCell cell-green" href="{{url_for('tasks.home')}}" data-toggle="tooltip" data-placement="top">
                        {{ task_count }}
                    </a>
                </div>
                <div class="info-table-cell text-center">
                    <a class="btn coloredNumberCell cell-darkgray" href="{{url_for('contractors.home')}}" data-toggle="tooltip" data-placement="top">
                        {{ contractor_count }}
                    </a>
                </div>
                <div class="info-table-cell text-center">
                    <a class="btn coloredNumberCell cell-orange" href="{{url_for('assignments.treatments', status='VALIDATED')}}" data-toggle="tooltip" data-placement="top">
                        {{ validated_count }}
                    </a>
                </div>
                <div class="info-table-cell text-center">
                    <a class="btn coloredNumberCell cell-royalblue" data-toggle="tooltip" data-placement="top">
                        {{ pia_count }}
                    </a>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="main-count-info-row">
                <div class="info-table-cell text-center item-title-cell">{{_('Nbr of Treatments')}}</div>
                <div class="info-table-cell text-center item-title-cell">{{_('Nbr of Tasks')}}</div>
                <div class="info-table-cell text-center item-title-cell">{{_('Nbr of Contractor')}}</div>
                <div class="info-table-cell text-center item-title-cell">{{_('Nbr of Validated Treatment')}}</div>
                <div class="info-table-cell text-center item-title-cell">{{_('Nbr of PIA')}}</div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div id="top-n-items-panel">
            <div class="top-n-items-window" id="top-n-treatments-window">
                <div class="top-n-item-window-header gray-background">
                    <div class="top-n-item-window-title">{{_('Top N of Treatments')}}</div>
                    <a class="btn btn-primary view-treatments" href="{{url_for('assignments.treatments')}}" data-toggle="tooltip" data-placement="top">
                        {{_('View')}}
                    </a>
                </div>
                <div id="top-n-treatment-table" class="top-n-table">
                    <div class="row top-n-table-header">
                        <div class="col-9 text-left font-weight-bold">{{_('Name of Treatment')}}</div>
                        <div class="col-3 text-center font-weight-bold">{{_('Status')}}</div>
                    </div>
                    <div class="top-n-table-body">
                        {% for treatment in top_n_treatments %}
                            <div class="row top-n-table-row">
                                <div class="col-9 text-left">{{ treatment.name }}</div>
                                <div class="col-3 text-center">
                                    <span class="treatment_status_area status-{{ treatment.status }}">
                                        {{ treatment_status_types[treatment.status] }}
                                    </span>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="top-n-items-window">
                <div class="top-n-item-window-header gray-background">
                    <div class="top-n-item-window-title">{{_('Top N of Tasks')}}</div>
                    <a class="btn btn-primary view-treatments" href="{{url_for('tasks.home')}}" data-toggle="tooltip" data-placement="top">
                        {{_('View')}}
                    </a>
                </div>
                <div id="top-n-task-table" class="top-n-table">
                    <div class="row top-n-table-header">
                        <div class="col-9 text-left font-weight-bold">{{_('Name of Task')}}</div>
                        <div class="col-3 text-center font-weight-bold">{{_('Status')}}</div>
                    </div>
                    <div class="top-n-table-body">
                        {% for task in top_n_tasks %}
                            <div class="row top-n-table-row">
                                <div class="col-9 text-left">{{ task.name }}</div>
                                <div class="col-3 text-center">
                                    <span class="treatment_status_area status-{{ task.status }}">
                                        {{ task_status_types[task.status] }}
                                    </span>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div id="chart-panel">
            <div class="pie-chart-container" id="treatments-chart-window">
                <div class="pie-chart-title text-center">{{_('Treatments by Status')}}</div>
                <div class="chart-area">
                    <canvas id="treatment-chart" height="150"></canvas>
                </div>
            </div>
            <div class="pie-chart-container">
                <div class="pie-chart-title text-center">{{_('Tasks by Status')}}</div>
                <div class="chart-area">
                    <canvas id="task-chart" height="150"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
<!--</a>-->
{%- endblock -%}

{%- block scripts -%}
{{super()}}

<script>
    $(document).ready(function () {
        var treatmentValues = [
            {% for item in treatment_values %}
                "{{  item }}",
            {% endfor %}
        ]
        var treatmentLabels = [
            {% for label in treatment_labels %}
                "{{ treatment_status_types[label] }}",
            {% endfor %}
        ]
        var pieColors = [
            {% for color in colors %}
                "{{ color }}",
            {% endfor %}
        ]
        var treatmentPieData = {
            datasets: [{
                data: treatmentValues,
                backgroundColor: pieColors
            }],
            labels: treatmentLabels
        }

        var options = {
            outerRadius: 120
        }

        new Chart(document.getElementById("treatment-chart").getContext("2d"),
          {type: 'pie', data: treatmentPieData, options: options});

        // task chart
        var taskValues = [
            {% for item in task_values %}
                "{{ item }}",
            {% endfor %}
        ]
        var taskLabels = [
            {% for label in task_labels %}
                "{{ task_status_types[label] }}",
            {% endfor %}
        ]
        var taskPieData = {
            datasets: [{
                data: taskValues,
                backgroundColor: pieColors
            }],
            labels: taskLabels
        }
        new Chart(document.getElementById("task-chart").getContext("2d"),
          {type: 'pie', data: taskPieData, options: options});
    })

    $('#from-date-picker').datepicker({
        uiLibrary: 'bootstrap4',
        // showOnFocus: true,
        // showRightIcon: false,
        format: 'mm/dd/yyyy'
        });

    $('#to-date-picker').datepicker({
        uiLibrary: 'bootstrap4',
        // showOnFocus: true,
        // showRightIcon: false,
        format: 'mm/dd/yyyy'
    });

    $('#filter-checker').change(function() {
        var fromDateVal = null, toDateVal = null
        if (this.checked) {
            var fromDate = $('#from-date-picker').val()
            var toDate = $('#to-date-picker').val()

            if (fromDate) fromDateVal = new Date(fromDate)
            if (toDate) toDateVal = new Date(toDate)
        }

        // validation check
        if (fromDateVal != null && toDateVal != null) {
            if (fromDateVal > toDateVal) {
                alert('invalid filter')
                return
            }
        }

        $('#filter-form').submit()
    });
</script>

{%- endblock -%}

