{% extends "base.html" %}
{% block head %}
{{super()}}
<link rel="icon" type="image/png" href="/static/img/memo-logo.png">
{% endblock %}

{% block title %}{{- config.APP_NAME }} | {{ config.APP_DESC -}}{% endblock %}

{%- block styles -%}
{{super()}}
<!-- build:css /static/css/vendor.css -->
<link rel="stylesheet" href="../node_modules/awesomplete/awesomplete.css" />
<!-- endbuild -->
<!-- build:css /static/css/style.css -->
<link rel="stylesheet" type="text/css" href="/static/css/style.css">
<!-- endbuild -->

<link rel="stylesheet" type="text/css" href="/static/fonts/gijgo/css/gijgo.min.css"/>

<link rel="stylesheet" type="text/css" href="/static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" type="text/css" href="/static/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">

{% endblock %}

{% block metas %}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chsv_mainrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1">
{{super()}}
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark custom-navbar-background">
    <!-- Navbar content -->
    <a class="navbar-brand" href="{{url_for('auth.dashboard')}}">
        <img src="/static/img/logo.png" id="logo-image"/>
        <!--{{_('RG-Secure')}}-->
    </a>
    <button class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarText"
            aria-controls="navbarText"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            {% if current_user.is_authenticated %}
            <li class="nav-item"><a class="nav-link" href="{{url_for('auth.dashboard')}}">{{_('Dashboard')}}</a></li>
            {%- if current_user.is_admin -%}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="companyDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{_('Companies')}}
                </a>

                <div class="dropdown-menu" aria-labelledby="companyDropdown">
                    <a class="dropdown-item" href="{{url_for('companies.home')}}">{{_('List companies')}}</a>
                    <a class="dropdown-item" href="{{url_for('companies.add')}}">{{_('Create company')}}</a>
                </div>
            </li>
            {%- endif -%}

            {%- if current_user.is_admin or current_user.is_dpo -%}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{_('User')}}
                </a>

                <div class="dropdown-menu" aria-labelledby="userDropdown">
                    <a class="dropdown-item" href="{{url_for('users.home')}}">{{_('List users')}}</a>
                    <a class="dropdown-item" href="{{url_for('users.add')}}">{{_('Create user')}}</a>
                    <a class="dropdown-item" href="{{url_for('users.assign_role')}}">{{_('Assign role')}}</a>
                </div>
            </li>
            {%- endif -%}

            {%- if not current_user.is_admin -%}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="registerDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{_('Register')}}
                </a>

                <div class="dropdown-menu" aria-labelledby="registerDropdown">
                    <a class="dropdown-item" href="{{url_for('assignments.home')}}">{{_('List of registers')}}</a>
                    <a class="dropdown-item" href="{{url_for('assignments.create')}}">{{_('Create a register')}}</a>
                </div>
            </li>
            {%- endif -%}

            {%- if not current_user.is_admin -%}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="treatmentDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{_('Treatment')}}
                </a>

                <div class="dropdown-menu" aria-labelledby="treatmentDropdown">
                    <a class="dropdown-item" href="{{url_for('assignments.create_treatment')}}">{{_('Create a treatment')}}</a>
                    <a class="dropdown-item" href="{{url_for('assignments.create_treatment', pia=True)}}">{{_('Create PIA')}}</a>
                    <a class="dropdown-item" href="{{url_for('assignments.treatments')}}">{{_('List of treatments')}}</a>
                </div>
            </li>
            {% endif %}

            {%- if not current_user.is_admin -%}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="contractorDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{_('Contractor')}}
                </a>

                <div class="dropdown-menu" aria-labelledby="contractorDropdown">
                    <a class="dropdown-item" href="{{url_for('contractors.add')}}">{{_('Add contractor')}}</a>
                    <a class="dropdown-item" href="{{url_for('contractors.home')}}">{{_('List contractors')}}</a>
                </div>
            </li>
            {% endif %}

            {% if not current_user.is_admin %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="taskDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{_('Action Plan')}}
                </a>

                <div class="dropdown-menu" aria-labelledby="taskDropdown">
                    <a class="dropdown-item" href="{{url_for('tasks.add')}}">{{_('Create a task')}}</a>
                    <a class="dropdown-item" href="{{url_for('tasks.home')}}">{{_('List tasks')}}</a>
                </div>
            </li>
            {% endif %}

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="settingsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{_('Setting')}}
                </a>

                <div class="dropdown-menu" aria-labelledby="settingsDropdown">
                    <a class="dropdown-item" href="{{url_for('auth.profile')}}">{{_('Change profile')}}</a>
                    <a class="dropdown-item" href="{{url_for('auth.change_password')}}">{{_('Change Password')}}</a>

                    <div class="dropdown-submenu">
                        <a class="dropdown-item dropdown-toggle" href="#" id="languageDropdown"> {{_('Modify Language')}}</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{{url_for('auth.set_language', lang='fr')}}">français</a></li>
                            <li><a class="dropdown-item" href="{{url_for('auth.set_language', lang='en')}}">English</a></li>
                        </ul>
                    </div>

                </div>
            </li>

            <li class="nav-item dropdown nav-padding-item">
                <a class="nav-link dropdown-toggle" href="#" id="tipDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{_('RG Info')}}
                </a>

                <div class="dropdown-menu" aria-labelledby="tipDropdown">
                    <a class="dropdown-item" href="https://www.youtube.com/watch?v=hYwHaZj57zQ&feature=youtu.be" target="_blank">{{_('Video-RGPD')}}</a>
                    <a class="dropdown-item" href="https://www.youtube.com/watch?v=OUMGp3HHel4&feature=youtu.be" target="_blank">{{_('Sensitization')}}</a>
                    <a class="dropdown-item" href="https://www.daf-mag.fr/Thematique/reglementation-1243/Dossiers/rgpd-gdpr-data-protection-point-reglementation-son-impact-dans-entreprises-318525/outils-fiches-pratiques-cnil-protection-donnees-personnelles-330918.htm" target="_blank">{{_('Practical sheets')}}</a>
                    <a class="dropdown-item" href="https://www.cnil.fr/fr/reglement-europeen-protection-donnees" target="_blank">{{_('RGPD regulations')}}</a>
                </div>
            </li>

            <!--<li class="nav-item right"><a class="nav-link nav-padding-item" href="{{url_for('auth.support')}}">{{_('Support')}}</a></li>-->
            <li class="nav-item right"><a class="nav-link" href="{{url_for('auth.help')}}">{{_('Help')}}</a></li>
            <li class="nav-item right"><a class="nav-link" href="{{url_for('auth.logout')}}">{{_('Logout')}}</a></li>
            {%- else -%}
            <!--<li class="nav-item"><a class="nav-link" href="{{url_for('auth.login')}}">{{_('Login')}}</a></li>-->
            {%- endif -%}
        </ul>
    </div>
</nav>

<!--<nav class="nav from-start">-->
<!--<a class="brand" href="/">Starter Kit</a>-->
<!--<ul class="pull-left">-->
<!--<li><a href="/">Home</a></li>-->
<!--{%- if current_user.is_authenticated -%}-->
<!--<li><a href="{{url_for('auth.logout')}}">Logout</a></li>-->
<!--{%- else -%}-->
<!--<li><a href="{{url_for('auth.login')}}">Login</a></li>-->
<!--{%- endif -%}-->
<!--</ul>-->
<!--</nav>-->

{% endblock %}

{% block content %}
<div class="wrap grid">

    {%- with messages = get_flashed_messages(with_categories=true) -%}
    {%- if messages -%}
    <div class="grid">
        <div class="unit whole flashes">
            {%- for category, message in messages -%}
            <div class="message {{ category }}"><p>{{ message }}</p></div>
            {%- endfor -%}
        </div>
    </div>
    {%- endif -%}
    {%- endwith -%}

    {%- block main -%}
    <p>Extend "layout.html" in "index.html" to edit this content.</p>
    {%- endblock -%}
</div>

{% endblock %}

{%- block scripts -%}
{{super()}}
<!-- Include vendor scripts here. -->

<!-- build:js /static/js/vendor.js -->
<!--<script src="../node_modules/esprima/esprima.js"></script>-->
<!--<script src="../node_modules/js-yaml/dist/js-yaml.min.js"></script>-->
<script src="../node_modules/survey-jquery/survey.jquery.min.js"></script>
<script src="../node_modules/gijgo/js/gijgo.min.js" type="text/javascript"></script>
<script src="../node_modules/chart.js/dist/Chart.js" type="text/javascript"></script>
<script src="../node_modules/awesomplete/awesomplete.js" async></script>
<!-- endbuild -->

<!-- build:js /static/js/script.js -->
<script src="/static/js/script.js"></script>
<!-- endbuild -->

{%- if config.DEBUG -%}
<!-- livereload script -->
<script>document.write('<script src="http://'
    + (location.host || 'localhost').split(':')[0]
    + ':35729/livereload.js?snipver=1" type="text/javascript"><\/script>')
</script>
{%- endif -%}

{%- endblock -%}
