



/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
  font-family: Ubuntu-Regular;
  src: url('../fonts/ubuntu/Ubuntu-Regular.ttf'); 
}

@font-face {
  font-family: Ubuntu-Bold;
  src: url('../fonts/ubuntu/Ubuntu-Bold.ttf'); 
}

/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body, html {
	height: 100%;
	font-family: Ubuntu-Regular, sans-serif;
}

/*---------------------------------------------*/
a {
	font-family: Ubuntu-Regular;
	font-size: 14px;
	line-height: 1.7;
	//color: #666666;
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
  color: #403866;
}

/*---------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
	margin: 0px;
}

p {
	font-family: Ubuntu-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
}

ul, li {
	margin: 0px;
	list-style-type: none;
}


/*---------------------------------------------*/
input {
	outline: none;
	border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

input::-webkit-input-placeholder { color: #8f8fa1;}
input:-moz-placeholder { color: #8f8fa1;}
input::-moz-placeholder { color: #8f8fa1;}
input:-ms-input-placeholder { color: #8f8fa1;}

textarea::-webkit-input-placeholder { color: #8f8fa1;}
textarea:-moz-placeholder { color: #8f8fa1;}
textarea::-moz-placeholder { color: #8f8fa1;}
textarea:-ms-input-placeholder { color: #8f8fa1;}

label {
  display: block;
  margin: 0;
}

/*---------------------------------------------*/
button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}


/*//////////////////////////////////////////////////////////////////
[ Utility ]*/
.txt1 {
  font-family: Ubuntu-Regular;
  font-size: 16px;
  color: #000080;
  line-height: 1.4;
}



/*//////////////////////////////////////////////////////////////////
[ login ]*/

.limiter {
  width: 100%;
  margin: 0 auto;
  background-image: url('/static/img/background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  //height: ~"calc(100vh - 56px)";
}

.container-login100 {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;;
}


.wrap-login100 {
  width: 600px;
  padding-left: 100px;
  padding-right: 100px;
  background: #fff;
  border-radius: 10px;
  position: relative;
}


/*==================================================================
[ Form ]*/

.login100-form {
  width: 100%;
}

.login100-form-title {
  font-family: Ubuntu-Bold;
  font-size: 30px;
  color: #000080;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;

  width: 100%;
  display: block;
}



/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
  width: 100%;
  position: relative;
  background-color: #e6e6e6;
  border: 1px solid transparent;
  border-radius: 3px;
}


/*---------------------------------------------*/
.input100 {
  font-family: Ubuntu-Bold;
  color: #403866;
  line-height: 1.2;
  font-size: 18px;

  display: block;
  width: 100%;
  background: transparent;
  height: 62px;
  padding: 0 20px 0 38px;
}
/*------------------------------------------------------------------
[ Focus Input ]*/

.focus-input100 {
  position: absolute;
  display: block;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  top: -1px;
  left: -1px;
  pointer-events: none;
  border: 1px solid #827ffe;
  border-radius: 3px;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  -webkit-transform: scaleX(1.1) scaleY(1.3);
  -moz-transform: scaleX(1.1) scaleY(1.3);
  -ms-transform: scaleX(1.1) scaleY(1.3);
  -o-transform: scaleX(1.1) scaleY(1.3);
  transform: scaleX(1.1) scaleY(1.3);
}

.input100:focus + .focus-input100 {
  visibility: visible;
  opacity: 1;

  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

.eff-focus-selection {
  visibility: visible;
  opacity: 1;

  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}


/*==================================================================
[ Restyle Checkbox ]*/

.input-checkbox100 {
  display: none;
}

.label-checkbox100 {
  font-family: Ubuntu-Regular;
  font-size: 16px;
  color: #999999;
  line-height: 1.2;

  display: block;
  position: relative;
  padding-left: 26px;
  cursor: pointer;
}

.label-checkbox100::before {
  content: "\f00c";
  font-family: FontAwesome;
  font-size: 13px;
  color: transparent;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 3px;
  background: #fff;
  border: 2px solid #000080;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.input-checkbox100:checked + .label-checkbox100::before {
  color: #000080;
}


/*------------------------------------------------------------------
[ Button ]*/
.container-login100-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}

.login100-form-btn {
  font-family: Ubuntu-Bold;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 62px;
  background-color: #000080;
  border-radius: 3px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.login100-form-btn:hover {
  background-color: #0069d9;
}


/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: #fff;
  border: 1px solid #c80000;
  border-radius: 3px;
  padding: 4px 25px 5px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 12px;
  pointer-events: none;

  font-family: Ubuntu-Regular;
  color: #c80000;
  font-size: 14px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f12a";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  color: #c80000;
  font-size: 18px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 18px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}


/*//////////////////////////////////////////////////////////////////
[ Responsive ]*/

.b {
  background-color: #027b93;
}

.table-custom {
  font-size: 12px;
}

.table-actions {
  padding: 5px 0;
}

.page-title {
  padding: 20px 0 10px 0;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}

.crud-form {
  background-color: #eaeaea;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #a8a8a8;
}

.table-list-item:hover {
  cursor: pointer;
  background-color: #eee;
}

.table-action-cell {
  white-space: nowrap;
}

.entity-information {
  padding-top: 20px;
  padding-bottom: 20px;

  .section-title {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .entity-property + .entity-property {
    margin-top: 5px;
  }
}

.search-bar {
  margin-top: 10px;
  margin-bottom: 10px;
}

.input-group > .awesomplete {
  flex-grow: 2;
}
.task-status {
  width: 8em;
}

.task-action {
  display: inline-block;
  margin-left: 5px;
  cursor: pointer;
}

.home-background {
  //background-image: url('/static/img/back.jpg');
  //background-size: cover;
  //background-position: center;
  //background-repeat: no-repeat;
  //height: ~"calc(100vh - 56px)";
  height: calc(80vh);
  width: calc(100vw);
}

textarea#description {
  height: 100px;
}

.table-increased-font-cell {
  font-size: 15px;
}

.status-cell {
  width: 100px;
}

.task-search-filter {
  margin-left: 10px;
  margin-bottom: 10px !important;
}

.nav-padding-item {
  margin-left: calc(10vw)
}

select#sub_category {
  height: 100px;
}

.custom-navbar-background {
  background-color: rgb(31, 54, 81);
}

a.nav-link {
  font-weight: bold;
  color: white !important;
}

td.gap-cell {
  padding-left: 40px;
  font-weight: bold;
}

iframe#survey-export-frame {
  position: absolute;
  width: 100%;
  height: 1px;
  right: 0px;
  //display: none;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu a::after {
  transform: rotate(-90deg);
  position: absolute;
  right: 6px;
  top: .8em;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-left: .1rem;
  margin-right: .1rem;
}

.dashboard-header {
  padding: 20px;
  height: 80px;
  border-left: 5px solid;
  border-left-color: grey;
  margin-left: 20px;
  margin-right: 20px;
  border-bottom: 1px solid;
  border-bottom-color: lightgray
}

.dashboard-title {
  float: left;
  line-height: 40px;
}

.dashboard-filter-part {
  float: right;
}

.dashboard-body {

}

.gray-background {
  background-color: lightgray;
}

.main-count-table {
  width: 80%;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
}

#main-count-table-title {
  padding: 10px;
}

.main-count-info-row {
  padding: 10px;
}

.borderless-cell {
  border: none !important;
}

.left-border-line {
  border-left: 3px solid;
  border-left-color: grey;
}

.coloredNumberCell {
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  font-size: 24px;
  font-weight: bold;
  width: 100%
}

.cell-skyblue {
  background-color: skyblue;
}

.cell-green {
  background-color: green;
}

.cell-darkgray {
  background-color: darkgray;
}

.cell-orange {
  background-color: orange;
}

.cell-royalblue {
  background-color: royalblue;
}

.item-title-cell {
  padding: 3px;
}

#top-n-items-panel {
  width: 70%;
  margin: auto;
}

.top-n-items-window {
  width: 45%;
  float: left;
  border: 2px solid;
  border-color: darkgray;
  border-radius: 5px;
}

#top-n-treatments-window {
 margin-right: 10%;
}

.top-n-item-window-header {
  height: 60px;
  padding: 10px;
}

.top-n-item-window-title {
  float: left;
  line-height: 40px;
}

.info-table-cell {
  display: block;
  width: 20%;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

.view-treatments {
  float: right;
}

.top-n-table-header {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid;
  border-bottom-color: gray;
  margin-left: 0;
  margin-right: 0;
}

.top-n-table-body {
  padding-top: 5px;
  padding-bottom: 10px;
}

.top-n-table-row {
  padding-top: 5px;
  margin-left: 0;
  margin-right: 0;
}

.status-OPEN {
  background: red;
}

.status-IN_PROGRESS {
  background: royalblue;
}

.status-COMPLETED {
  background: green;
}

.status-VALIDATED {
  background: lightgreen;
}

.status-PLANNED {
  background: pink;
}

.treatment_status_area {
  padding: 5px;
  border-radius: 5px;
  color: white;
  font-size: 12px;
}

#chart-panel {
  width: 70%;
  margin: auto;
  margin-top: 15px;
}

.pie-chart-container {
  width: 45%;
  float: left;
}

#treatments-chart-window {
  margin-right: 10%;
}

.pie-chart-title {
  margin-top: 10px;
  margin-bottom: 10px;
}

.chart-area {
  border: 2px solid;
  border-color: darkgray;
  border-radius: 5px;
}

.table .thead-light th {
  background-color: #1e3650;
  color: white;
}

#logo-image {
  width: 150px;
}

.expanded-cell {
  width: 180px;
}

.name-cell {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 16.666667%;
	flex: 0 0 16.666667%;
	max-width: 16.666667%;
}

.value-cell {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 83.333333%;
	flex: 0 0 83.333333%;
	max-width: 83.333333%;
}