.w3-theme-l5 {color:#000 !important; background-color:#eafbff !important}
.w3-theme-l4 {color:#000 !important; background-color:#b8f2fe !important}
.w3-theme-l3 {color:#000 !important; background-color:#70e5fd !important}
.w3-theme-l2 {color:#000 !important; background-color:#29d9fc !important}
.w3-theme-l1 {color:#fff !important; background-color:#03b5d9 !important}
.w3-theme-d1 {color:#fff !important; background-color:#026e83 !important}
.w3-theme-d2 {color:#fff !important; background-color:#026175 !important}
.w3-theme-d3 {color:#fff !important; background-color:#025566 !important}
.w3-theme-d4 {color:#fff !important; background-color:#014957 !important}
.w3-theme-d5 {color:#fff !important; background-color:#013d49 !important}

.w3-theme-light {color:#000 !important; background-color:#eafbff !important}
.w3-theme-dark {color:#fff !important; background-color:#013d49 !important}
.w3-theme-action {color:#fff !important; background-color:#013d49 !important}

.w3-theme {color:#fff !important; background-color:#027b93 !important}
.w3-text-theme {color:#027b93 !important}
.w3-border-theme {border-color:#027b93 !important}

.w3-hover-theme:hover {color:#fff !important; background-color:#027b93 !important}
.w3-hover-text-theme:hover {color:#027b93 !important}
.w3-hover-border-theme:hover {border-color:#027b93 !important}