{%- extends "layout.html" -%}
{%- from "_helpers.html" import render_field -%}

{%- block main -%}
<div class="container">
    <h2 class="page-title">{{_('Contractors')}}</h2>
    <div class="container-fluid">
        <div class="text-right table-actions">
            <a class="btn btn-primary mx-sm-4" href="{{url_for('contractors.export_all')}}">{{_('Export All')}}</a>
            <a class="btn btn-primary" href="{{url_for('contractors.add')}}">+ {{_('Add')}}</a>
        </div>
        <div class="table-responsive table-custom">
            <table class="table table-striped table-bordered">
                <thead class="thead-light">
                    <tr>
                        <th class="table-increased-font-cell">{{_('Name of Company')}}</th>
                        <th scope="thead-main" class="table-increased-font-cell">{{_('First Name')}}</th>
                        <th class="table-increased-font-cell">{{_('Last Name')}}</th>
                        <th class="table-increased-font-cell">{{_('Phone')}}</th>
                        <th class="table-increased-font-cell">{{_('E-mail')}}</th>
                        <th class="table-increased-font-cell">{{_('Address')}}</th>
                        <th class="table-increased-font-cell">{{_('Zip code')}}</th>
                        <th class="table-increased-font-cell">{{_('City')}}</th>
                        <th class="table-increased-font-cell">{{_('RGPD conformity')}}</th>
                        <!--<th class="table-increased-font-cell">{{_('Role')}}</th>-->
                        <th class="table-increased-font-cell"></th>
                    </tr>
                </thead>
                <tbody>
                {% if not contractors %}
                <tr>
                    <td colspan="11" class="text-center">
                        {{_('No contractor was found')}}
                    </td>
                </tr>
                {% endif %}

                {% for contractor in contractors %}
                <tr>
                    <td class="table-increased-font-cell">{{contractor.company_name}}</td>
                    <td class="table-increased-font-cell">{{contractor.first_name}}</td>
                    <td class="table-increased-font-cell">{{contractor.last_name}}</td>
                    <td class="table-increased-font-cell">{{contractor.phone}}</td>
                    <td class="table-increased-font-cell">{{contractor.email}}</td>
                    <td class="table-increased-font-cell">{{contractor.address}}</td>
                    <td class="table-increased-font-cell">{{contractor.zipcode}}</td>
                    <td class="table-increased-font-cell">{{contractor.city}}</td>
                    <td class="table-increased-font-cell">{% if contractor.in_conformity %}YES {% else %} NO {% endif %}</td>
                    <!--<td class="table-increased-font-cell">{{contractor.role}}</td>-->
                    <td class="table-action-cell">
                        <a href="{{ url_for('contractors.update', contractor_name=contractor.email, contractor_company=contractor.company_id) }}" data-toggle="tooltip" data-placement="top" title="{{_('Edit')}}">
                            <!--{{_('Edit')}}--><i class="fa fa-pencil"></i>
                        </a>
                        <a href="{{url_for('contractors.export', contractor_name=contractor.email, contractor_company=contractor.company_id)}}" data-toggle="tooltip" data-placement="top" title="{{_('Export')}}">
                            <i class="fa fa-download"></i>
                        </a>
                        <a href="{{ url_for('contractors.delete', contractor_name=contractor.email, contractor_company=contractor.company_id) }}" data-toggle="tooltip" data-placement="top" title="{{_('Delete')}}">
                            <!--{{_('Delete')}}--><i class="fa fa-trash"></i>
                        </a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{%- endblock -%}