{%- extends "layout.html" -%}
{%- from "_helpers.html" import render_field -%}

{%- block main -%}
<div class="container">
    <h2 class="page-title">{{_('Update Contractor')}}</h2>
    <form class="crud-form container-fluid" action="{{url_for('contractors.update', contractor_name=contractor.email)}}"
          method="POST">

        {{form.csrf_token}}
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    {{form.first_name.label}}
                    {{form.first_name(class='form-control')}}
                </div>

                <div class="form-group">
                    {{form.last_name.label}}
                    {{form.last_name(class='form-control')}}
                </div>

                <div class="form-group">
                    {{form.company_name.label}}
                    {{form.company_name(class='form-control')}}
                </div>

                <div class="form-group">
                    {{form.phone.label}}
                    {{form.phone(class='form-control')}}
                </div>

                <div class="form-group">
                    {{form.email.label}}
                    {{form.email(class='form-control')}}
                </div>

            </div>

            <div class="col-md-6">
                <div class="form-group">
                    {{form.address.label}}
                    {{form.address(class='form-control')}}
                </div>

                <div class="form-group">
                    {{form.city.label}}
                    {{form.city(class='form-control')}}
                </div>

                <div class="form-group">
                    {{form.zipcode.label}}
                    {{form.zipcode(class='form-control')}}
                </div>

                <div class="form-group">
                    {{form.web_site.label}}
                    {{form.web_site(class='form-control')}}
                </div>

                <div class="form-check">
                    {{form.in_conformity(class='form-check-input')}}
                    {{form.in_conformity.label(class='form-check-label')}}
                </div>
            </div>
        </div>
        <div class="m-t-20 text-right">
            <button type="submit" class="btn btn-primary">{{_('Update')}}</button>
        </div>

    </form>
</div>

{%- endblock -%}