{%- extends "layout.html" -%}
{%- from "_helpers.html" import render_field -%}

{%- block main -%}
<div class="container">
    <h2 class="page-title">{{_('Tasks')}}</h2>
    <div class="container-fluid">
        <div class="search-bar">
            <form class="form-inline" action="{{url_for('tasks.home')}}" method="GET">
                <div class="form-group task-search-filter">
                    {{_('Name')}}:&nbsp;{{ search_form.name(class="form-control") }}
                </div>
                <div class="form-group task-search-filter">
                    {{_('Treatment')}}:&nbsp;{{ search_form.treatment(class="form-control") }}
                </div>
                <div class="form-group mx-sm-3  task-search-filter">
                    {{_('Status')}}:&nbsp;{{ search_form.status(class="form-control")}}
                </div>
                <!--<div class="form-group mx-sm-3  task-search-filter">-->
                    <!--{{_('Priority')}}:&nbsp;{{ search_form.priority(class="form-control")}}-->
                <!--</div>-->
                <div class="form-group task-search-filter">
                    <button class="btn btn-primary" type="submit">{{_('Search')}}</button>
                </div>
                <div class="form-group task-search-filter">
                    <a class="btn btn-primary" href="{{url_for('tasks.export_all')}}">{{_('Export All')}}</a>
                </div>
            </form>

        </div>
        <!--<div class="text-right table-actions">-->
            <!--<a class="btn btn-primary" href="{{url_for('tasks.add')}}">+ {{_('Add')}}</a>-->
        <!--</div>-->
        <div class="table-responsive table-custom">
            <table class="table table-striped table-bordered" id="result_table">
                <thead class="thead-light">
                <tr>
                    <th class="table-increased-font-cell expanded-cell">{{_('Treatment')}}</th>
                    <th class="table-increased-font-cell expanded-cell">{{_('Task')}}</th>
                    <th class="table-increased-font-cell">{{_('Category')}}</th>
                    <!--<th>{{_('Sub Category')}}</th>-->
                    <!--<th class="table-increased-font-cell">{{_('Difficulty')}}</th>-->
                    <th class="table-increased-font-cell expanded-cell">{{_('Status')}}</th>
                    <th class="table-increased-font-cell">{{_('Updated')}}</th>
                    <th class="table-increased-font-cell">{{_('Assignee')}}</th>
                    <th class="table-increased-font-cell">{{_('Validator')}}</th>
                    <th class="table-increased-font-cell">{{_('Priority')}}</th>
                    <th class="table-increased-font-cell">{{_('Deadline')}}</th>
                    <!--<th>{{_('Attachments')}}</th>-->
                    <th></th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <div class="text-center">
                <button id="btn-load-more" type="button" class="btn btn-outline-dark">{{_('Load more')}}</button>
            </div>
        </div>
    </div>
</div>
{%- endblock -%}

{% block scripts %}
{{super()}}
<script>

    $('[name="task-status"]').change(function () {
        var currentVal = $(this).val();
        var url = $(this).data('url');
        $.ajax({
            url: url,
            data: JSON.stringify({status: currentVal}),
            type: "POST",
            dataType: "json",
            contentType : "application/json",
            success: function(res) {
                $(this).data('value', currentVal);
            },
            error: function(err) {
                console.log(err);
                $(this).val($(this).data('value'));
            }
        });
    });

    var ajax_url = "{{url_for('tasks.task_list')}}";
    var last_evaluated_key = null;
    var name="{{search_form.name.data}}",
        treatment = "{{search_form.treatment.data}}",
        status="{{search_form.status.data}}",
        priority="{{search_form.priority.data}}";

    function continueLoad(bFirst) {
        console.log('loading...')
        $.ajax({
            type: "POST",
            url: ajax_url,
            data: JSON.stringify({last_evaluated_key: last_evaluated_key, name: name, treatment: treatment, status: status, priority: priority}),
            contentType: 'application/json',
            success: function(data) {
                eval($(data).last().html());
                console.log(last_evaluated_key);
                var rows = $(data).filter('tr');
                if(rows.length > 0) {
                    $('#result_table > tbody:last-child').append(rows);
                }
                else if(bFirst){
                    $('#result_table > tbody:last-child')
                        .append('<tr>' +
                            '<td colspan="10" class="text-center">\n' +
                            '{{_("No task was found")}}\n' +
                            '</td>\n' +
                            '</tr>');
                }
                if(!last_evaluated_key)
                    $('#btn-load-more').hide();
            }
        });
    };

    $('#btn-load-more').click(function() {
        continueLoad(false);
    });

    $(document).ready(function () {
        continueLoad(true)
    });
</script>
{% endblock %}
