{% for task in items %}
<tr>
    <td class="table-increased-font-cell">
        {% if task.treatment %}
        {{task.treatment.name}}
        {% else %}

        {% endif %}
    </td>
    <td class="table-increased-font-cell">{{task.name}}</td>
    <td class="table-increased-font-cell">{{task.category}}</td>
    <!--<td>{{task.sub_category}}</td>-->
    <!--<td class="col-1 table-increased-font-cell">{{task.difficulty_name}}</td>-->
    <td class="table-increased-font-cell">
        {% if current_user.is_dpo %}
        <select name="task-status" data-url="{{url_for('api.tasks.set_status', task_id=task.id)}}" data-value="{{task.status}}">
            {% for choice in task_status_types %}
            <option value="{{choice[0]}}" {% if choice[0]==task.status %} selected="selected" {% endif %}>
            {{choice[1]}}
            </option>
            {% endfor %}
        </select>
        {% else %}
        {{task.status}}
        {% endif %}
    </td>
    <td class="table-increased-font-cell">{{task.updated_at|datetimeformat('%m/%d/%Y')}}</td>
    <td class="table-increased-font-cell">{{task.assigned_to}}</td>
    <td class="table-increased-font-cell">{{task.validate_by}}</td>
    <td class="table-increased-font-cell">{{task.priority_name}}</td>
    <td class="table-increased-font-cell">{{task.deadline|datetimeformat('%m/%d/%Y')}}</td>
    <td class="table-action-cell table-increased-font-cell">
        <a href="{{ url_for('tasks.view', task_id=task.id) }}" data-toggle="tooltip" data-placement="top" title="{{_('View')}}">
            <i class="fa fa-eye"></i>
        </a>
        <a href="{{ url_for('tasks.update', task_id=task.id) }}" data-toggle="tooltip" data-placement="top" title="{{_('Edit')}}">
            <i class="fa fa-pencil"></i>
        </a>
        <a href="{{url_for('tasks.export', task_id=task.id)}}" data-toggle="tooltip" data-placement="top" title="{{_('Export')}}">
            <i class="fa fa-download"></i>
        </a>
        <a href="{{ url_for('tasks.delete', task_id=task.id) }}" data-toggle="tooltip" data-placement="top" title="{{_('Delete')}}">
            <i class="fa fa-trash"></i>
        </a>
    </td>

</tr>
{% endfor %}

<script>
    last_evaluated_key = JSON.parse('{{last_evaluated_key|safe}}');
</script>