{%- extends "layout.html" -%}
{%- from "_helpers.html" import render_field -%}

{%- block main -%}
<div class="container">
    <h2 class="page-title">{{_('Update Task')}}</h2>
    <form class="crud-form col-md-9 mx-auto" action="{{url_for('tasks.update', task_id=task_id)}}" method="POST" enctype="multipart/form-data">

        {{form.csrf_token}}
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    {{form.treatment_id.label}}
                    {{form.treatment_id(class='form-control')}}
                </div>

                <div class="form-group">
                    {{form.name.label}}
                    {{form.name(class='form-control')}}
                </div>

                <div class="form-group">
                    {{form.description.label}}
                    {{form.description(class='form-control')}}
                </div>

                <div class="form-group">
                    {{form.category.label}}
                    {{form.category(class='form-control')}}
                </div>

                <div class="form-group">
                    {{form.sub_category.label}}
                    {{form.sub_category(class='form-control')}}
                </div>

                <div class="form-group">
                    {{form.difficulty.label}}
                    {{form.difficulty(class='form-control')}}
                </div>

                <div class="form-group">
                    {{form.assigned_to.label}}
                    {{form.assigned_to(class='form-control')}}
                </div>

                <div class="form-group">
                    {{form.validate_by.label}}
                    {{form.validate_by(class='form-control')}}
                </div>

                <div class="form-group">
                    {{form.priority.label}}
                    {{form.priority(class='form-control')}}
                </div>

                <div class="form-group">
                    {{form.deadline.label}}
                    {{form.deadline(class='form-control', datepicker='')}}
                </div>

                <div class="form-check form-group">
                    {{form.update_attachment(class='form-check-input')}}
                    {{form.update_attachment.label(class='form-check-label')}}
                </div>
                <div class="form-group" id="attachment-container" style="display: none">
                    {{form.attachment.label}}
                    {{form.attachment(class='form-control')}}
                </div>
            </div>

        </div>
        <div class="m-t-20 text-right">
            <button type="submit" class="btn btn-primary">{{_('Update')}}</button>
        </div>
    </form>
</div>
{%- endblock -%}
{% block scripts %}
{{super()}}
<script>
    var elCategory = $('#category');
    var elSubCategory = $('#sub_category');
    var url = "{{url_for('api.categories.get_sub')}}";
    var lang = "{{lang_code}}"

    var element = document.getElementById('update_attachment');
    var elAttachmentContainer = document.getElementById('attachment-container');

    $('#category').change(function (event) {
        event.preventDefault();
        setSubCategoryData();
        return false;
    });

    function setSubCategoryData() {
        $.post(url, {category: elCategory.val(), lang: lang}, function (data) {
            elSubCategory.html('');
            data.forEach(function (v, i) {
                elSubCategory.append("<option value='" + v + "'>" + v + "</option>");
            });
        });
    }

    if(element.checked) {
        elAttachmentContainer.style.display = 'block';
    }

    $('#update_attachment').change(function () {
        if(this.checked) {
            elAttachmentContainer.style.display = 'block';
        } else {
            elAttachmentContainer.style.display = 'none';
        }
    });

    $(document).ready(function() {

    });
</script>
{% endblock %}