{%- extends "layout.html" -%}
{%- from "_helpers.html" import render_field -%}

{%- block main -%}
<div class="container">
    <h2 class="page-title">{{_('Task detail')}}</h2>
    <div class="container">
        <table class="table table-striped table-bordered">
            <tr>
                <td class="name-cell">{{_('Name')}}</td>
                <td class="value-cell gap-cell">{{task.name}}</td>
            </tr>
            <tr>
                <td class="name-cell">{{_('Category')}}</td>
                <td class="value-cell gap-cell">{{task.category_name}}</td>
            </tr>
            <tr>
                <td class="name-cell">{{_('Sub Category')}}</td>
                <td class="value-cell gap-cell">{{task.sub_category_name}}</td>
            </tr>
            <tr>
                <td class="name-cell">{{_('Difficulty')}}</td>
                <td class="value-cell gap-cell">{{task.difficulty_name}}</td>
            </tr>
            <tr>
                <td class="name-cell">{{_('Description')}}</td>
                <td class="value-cell gap-cell">{{task.description}}</td>
            </tr>
            <tr>
                <td class="name-cell">{{_('Status')}}</td>
                <td class="value-cell gap-cell">{{task.status}}</td>
            </tr>
            <tr>
                <td class="name-cell">{{_('Assigned To')}}</td>
                <td class="value-cell gap-cell">{{task.assigned_to}}</td>
            </tr>
            <tr>
                <td class="name-cell">{{_('Validate by')}}</td>
                <td class="value-cell gap-cell">{{task.validate_by}}</td>
            </tr>
            <tr>
                <td class="name-cell">{{_('Priority')}}</td>
                <td class="value-cell gap-cell">{{task.priority_name}}</td>
            </tr>
            <tr>
                <td class="name-cell">{{_('Deadline')}}</td>
                <td class="value-cell gap-cell">{{task.deadline|datetimeformat('%m/%d/%Y')}}</td>
            </tr>
            <tr>
                <td class="name-cell">{{_('Attachment')}}</td>
                <td class="value-cell gap-cell">
                    {% for url in task.attachment_urls %}
                    <a href="{{url.absolute_url}}">{{url.name}}</a>
                    {% endfor %}
                </td>
            </tr>
        </table>
    </div>
</div>
{%- endblock -%}