{%- extends "layout.html" -%}
{%- from "_helpers.html" import render_field -%}

{%- block main -%}
<div class="container">
    <h2 class="page-title">{{_('Create treatment')}}</h2>

    <form class="crud-form container-fluid" action="{{url_for('assignments.create_treatment')}}" method="POST">
        {{form.csrf_token}}
        <div class="row m-b-10">

        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    {{form.name.label}}
                    {{form.name(class='form-control')}}
                </div>

                <div class="form-group">
                    {{form.register_id.label}}
                    {{form.register_id(class='form-control')}}
                </div>

                <div class="form-group">
                    {{form.type.label}}
                    {{form.type(class='form-control')}}
                </div>

                <div class="form-group">
                    {{form.service_concerned.label}}
                    <!--<div class="input-group">-->
                        <!--{{form.service_concerned(class='form-control', autocomplete="off")}}-->
                        <!--{% if current_user.is_dpo %}-->
                        <!--<div class="input-group-append">-->
                            <!--<button id="add-service-concerned" class="input-group-text">-->
                                <!--+-->
                            <!--</button>-->
                        <!--</div>-->
                        <!--{% endif %}-->
                    <!--</div>-->
                    {{form.service_concerned(class='form-control')}}
                </div>

                <div class="form-group">
                    {{form.data_sensibility.label}}
                    <!--<div class="input-group">-->
                        <!--{{form.data_sensibility(class='form-control', autocomplete="off")}}-->
                        <!--{% if current_user.is_dpo %}-->
                        <!--<div class="input-group-append">-->
                            <!--<button id="add-data-sensibility" class="input-group-text">-->
                                <!--+-->
                            <!--</button>-->
                        <!--</div>-->
                        <!--{% endif %}-->
                    <!--</div>-->
                    {{form.data_sensibility(class='form-control')}}
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    {{form.assigned_to.label}}
                    {{form.assigned_to(class='form-control')}}
                </div>

                <div class="form-group">
                    {{form.validated_by.label}}
                    {{form.validated_by(class='form-control')}}
                </div>

                <div class="form-group">
                    {{form.audit_end_date.label}}
                    {{form.audit_end_date(class='form-control', datepicker='')}}
                </div>

                <div class="form-group">
                    {{form.template.label}}
                    {{form.template(class='form-control')}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-check">
                    {{form.risk_exist(class='form-check-input')}}
                    {{form.risk_exist.label(class='form-check-label')}}
                </div>
            </div>
        </div>
        <div class="m-t-20 text-right">
            <button type="submit" class="btn btn-primary">{{_('Create')}}</button>
        </div>

    </form>
</div>
{%- endblock -%}

{% block scripts %}
{{super()}}
<script>
    // // var elService = document.getElementById('service_concerned');
    // var elSensibility = document.getElementById('data_sensibility');
    // // var serviceAutoComplete = new Awesomplete(elService);
    // var sensibilityAutoComplete = new Awesomplete(elSensibility);
    //
    // // Get element again
    // // elService = $('#service_concerned');
    // elSensibility = $('#data_sensibility');
    // // elService.attr("autocomplete", "off");
    // elSensibility.attr("autocomplete", "off");
    //
    // // function loadServices() {
    // //     var url = "{{url_for('api.treatment_services.get_all')}}";
    // //     $.get(url, function (data) {
    // //         serviceAutoComplete.list = data;
    // //     });
    // // }
    //
    // function loadSensibilities() {
    //     var url = "{{url_for('api.data_sensibility.get_all')}}";
    //     $.get(url, function (data) {
    //         sensibilityAutoComplete.list = data;
    //     });
    // }
    //
    // // loadServices();
    // loadSensibilities();
    //
    // $('#add-service-concerned').click(function (event) {
    //     var url = "{{url_for('api.treatment_services.add')}}";
    //
    //     event.preventDefault();
    //     $.post(url, {name: elService.val()}, function (data) {
    //         loadServices();
    //     });
    //     return false;
    // });
    //
    // $('#add-data-sensibility').click(function (event) {
    //     var url = "{{url_for('api.data_sensibility.add')}}";
    //
    //     event.preventDefault();
    //     $.post(url, {name: elSensibility.val()}, function (data) {
    //         loadSensibilities();
    //     });
    //     return false;
    // });
</script>
{% endblock %}