{%- extends "layout.html" -%}
{%- from "_helpers.html" import render_field -%}

{%- block main -%}
<div class="container">
    <h2 class="page-title">{{_('Create register')}}</h2>
    <form class="crud-form container-fluid" action="{{url_for('assignments.create')}}" method="POST">

        {{form.csrf_token}}
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    {{form.name.label}}
                    {{form.name(class='form-control')}}
                </div>

                <div class="form-group">
                    {{form.assigned_to.label}}
                    {{form.assigned_to(class='form-control')}}
                </div>

                <div class="form-group" id="template-input-container">
                    {{form.template.label}}
                    {{form.template(class='form-control')}}
                </div>

                <div class="form-check">
                    {{form.from_template(class='form-check-input')}}
                    {{form.from_template.label(class='form-check-label')}}
                </div>
            </div>

        </div>
        <div class="m-t-20 text-right">
            <button type="submit" class="btn btn-primary">{{_('Assign')}}</button>
        </div>

    </form>
</div>
{%- endblock -%}

{% block scripts %}
{{super()}}
<script>
    var element = document.getElementById('from_template');
    var elTemplateInputContainer = document.getElementById('template-input-container');

    if(element.checked) {
        elTemplateInputContainer.style.display = 'block';
    } else {
        elTemplateInputContainer.style.display = 'none';
    }

    element.addEventListener('change', function () {
        if(this.checked) {
            elTemplateInputContainer.style.display = 'block';
        } else {
            elTemplateInputContainer.style.display = 'none';
        }
    });

</script>
{% endblock %}