{%- extends "layout.html" -%}
{%- from "_helpers.html" import render_field -%}

{%- block main -%}
<div class="container">
    <h2 class="page-title">{{_('List of registers')}}</h2>
    <div class="container-fluid">
        <div class="text-right table-actions">
            <a class="btn btn-primary" href="{{url_for('assignments.create')}}">+ {{_('Add')}}</a>
        </div>

        <table class="table table-striped table-bordered">
            <thead class="thead-light">
            <tr>
                <th scope="thead-main">{{_('Name')}}</th>
                <th>{{_('Created by')}}</th>
                <th>{{_('Created at')}}</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% if not registers %}
            <tr>
                <td colspan="11" class="text-center">
                    {{_('No register was found')}}
                </td>
            </tr>
            {% endif %}

            {% for register in registers %}
            <tr class="table-list-item" data-control="href" data-url="{{url_for('assignments.treatments', register_id=register.id)}}">
                <td>{{register.name}}</td>
                <td>{{register.created_by}}</td>
                <td>{{register.created_at|datetimeformat('%m/%d/%Y')}}</td>
                <td class="table-action-cell">
                    <a href="{{url_for('assignments.update', register_id=register.id)}}" data-toggle="tooltip" data-placement="top" title="{{_('Edit')}}">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </a>
                    <a href="{{url_for('assignments.delete_register', register_id=register.id)}}" data-toggle="tooltip" data-placement="top" title="{{_('Delete')}}">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{%- endblock -%}