{%- extends "layout.html" -%}
{%- from "_helpers.html" import render_field -%}

{%- block main -%}
<!--<button id="save-to-html" type="button" class="btn btn-primary">{{_('Save As Html')}}</button>-->

<div id="surveyContainer">

</div>

<div id="task-modal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{_('New Task')}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="alert-container" class="alert alert-danger">
                </div>
                <div class="form-group">
                    <label class="">
                        {{_('Name')}}
                    </label>
                    <input id="name-input" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label class="form-label">
                        {{_('Description')}}
                    </label>
                    <textarea id="description-input" type="text" class="form-control" name="description"></textarea>
                </div>
                <div class="form-group">
                    <label class="form-label">
                        {{_('Assign To')}}
                    </label>
                    <select id="assign-to-input" type="text" class="form-control">
                        {% for user_choice in user_choices %}
                        <option value="{{user_choice[0]}}">
                            {{user_choice[1]}}
                        </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-label">
                        {{_('Validate By')}}
                    </label>
                    <select id="validate-by-input" type="text" class="form-control">
                        {% for user_choice in user_choices %}
                        <option value="{{user_choice[0]}}">
                            {{user_choice[1]}}
                        </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button id="modal-save" type="button" class="btn btn-primary">{{_('Save')}}</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{_('Close')}}</button>
            </div>
        </div>
    </div>
</div>

{%- endblock -%}

{% block scripts %}
{{super()}}
<script>
    var surveyJSON = {{treatment_json|safe}};
    var survey = new Survey.Model(surveyJSON);
    var buildTaskUrl = "{{url_for('api.tasks.add')}}";
    var treatment_id = "{{treatment_id}}";
    var task_button_label = "{{_('Add task')|safe}}";

    {% if treatment_answer %}
    var surveyData = {{treatment_answer|safe}};
    survey.data = surveyData;
    {% endif %}

    {% if readonly %}
    survey.mode = 'display';
    {% endif %}

    function getQuestionWithName(currentPageNo, questionName) {
        console.log('question:' + questionName)
        var pages;
        if(surveyJSON.pages) {
            pages = surveyJSON.pages;
        } else {
            pages = [surveyJSON]
        }
        var currentPage = pages[currentPageNo]

        var questions = currentPage.questions ? currentPage.questions : currentPage.elements;
        var question;
        for(var i = 0; i < questions.length; i++) {
            question = questions[i];
            if(question.name === questionName)
                return question;
        }
    }
    survey
        .onAfterRenderQuestion
        .add(function (survey, options) {
            //Return if there is no description to show in popup
            var questionData = getQuestionWithName(survey.currentPageNo, options.question.name);
            if (!questionData || !questionData.task)
                return;

            //Add a button;
            var btn = document.createElement("button");
            btn.className = "btn btn-info btn-xs";
            btn.innerHTML = task_button_label;
            var question = options.question;
            btn.onclick = function (event) {
                event.preventDefault();
                buildTask(questionData);
                return false;
            };
            var header = options
                .htmlElement
                .querySelector("h5");
            var span = document.createElement("span");
            span.innerHTML = "  ";
            header.appendChild(span);
            header.appendChild(btn);
        });

    $('#surveyContainer').Survey({
        model: survey,
        sendResultOnPageNext: true,
        onComplete: onCompleteSurvey,
        onPartialSend: onPartialSend
    });

    $('#skip-btn').click(function (event) {
        event.preventDefault();
        // Redirect to treatments
        redirectToTreatments();
    });

    function redirectToTreatments() {
        window.location.href = "{{url_for('assignments.treatments')}}";
    }

    function onCompleteSurvey(survey) {
        // Save survey and suggest task.
        var url = "{{url_for('api.assignments.save_audit', treatment_id=treatment_id)|safe}}";

        $.ajax({
            url: url,
            data: JSON.stringify(survey.data),
            type: "POST",
            dataType: "json",
            contentType : "application/json",
            success: function(res) {
               redirectToTreatments();
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

    function onPartialSend(survey) {
        // Save survey and suggest task.
        var url = "{{url_for('api.assignments.save_audit', treatment_id=treatment_id)|safe}}";
        var data = survey.data;
        data.pageNo = survey.currentPageNo;

        $.ajax({
            url: url,
            data: JSON.stringify(data),
            type: "POST",
            dataType: "json",
            contentType : "application/json",
            success: function(res) {

            },
            error: function (err) {
                console.log(err);
            }
        });
    }

    var elModal = $('#task-modal');

    function buildTask(element) {
        // Show bootstrap 4 modal to add task
        if(element.task) {
            elModal.on('show.bs.modal', function (event) {
                $('#alert-container').hide();
                $('#description-input').val(element.task.description);
            });
            elModal.modal('show');
        }
    }

    $('#modal-save').click(function() {
        var data = {
            treatment_id: treatment_id,
            name: $('#name-input').val(),
            description: $('#description-input').val(),
            assigned_to: $('#assign-to-input').val(),
            validate_by: $('#validate-by-input').val()
        };

        if(!$('#name-input').val()) {
            $('#alert-container').html("{{_('Name field cannot be null')}}").show()
            return
        }

        if(!$('#description-input').val()) {
            $('#alert-container').html("{{_('Description field cannot be null')}}").show()
            return
        }

        console.log('save task on html');

        $.ajax({
            url: buildTaskUrl,
            data: JSON.stringify(data),
            type: "POST",
            dataType: "json",
            contentType : "application/json",
            success: function(res) {
                alert("{{_('Task was successfully added')}}");
                elModal.modal('hide');
            },
            error: function(err) {
                if(err.error) {
                    $('#alert-container').html(err.error).show();
                } else {
                    $('#alert-container').html("{{_('Unexpected error occured. Please try again later.')}}").show();
                }
            }
        });
    });
</script>
{% endblock %}