<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://unpkg.com/jquery"></script>
        <script src="https://surveyjs.azureedge.net/1.0.65/survey.jquery.js"></script>
        <link href="https://surveyjs.azureedge.net/1.0.65/survey.css" type="text/css" rel="stylesheet"/>
        <link rel="stylesheet" href="./index.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.js"></script>
        <script src="https://unpkg.com/jspdf@1.5.2/dist/jspdf.debug.js"></script>
        <script src="https://unpkg.com/signature_pad@2.3.2/dist/signature_pad.js"></script>
        <script src="https://unpkg.com/surveyjs-widgets/surveyjs-widgets.js"></script>
        <script src="https://cdn.jsdelivr.net/gh/surveyjs/pdf/index.js"></script>
    </head>
    <body>
        <div id="surveyElement"></div>
    </body>
</html>

{% block scripts %}
<script>
    function renderSurvey(survey, element) {
        survey.render(element);
    }

    function writePDF() {
        var pdfWidth = 1400; //survey.pdfWidth || (1000 * 2);
        var pdfHeight = 1800; // survey.pdfHeight || (1400 * 2);
        saveSurveyToPdf("surveyResult.pdf", survey, pdfWidth, pdfHeight, renderSurvey);
    }

    Survey.StylesManager.applyTheme("default");

    var surveyJSON = {{treatment_json|safe}};
    window.survey = new Survey.Model(surveyJSON);

    {% if treatment_answer %}
    var surveyData = {{treatment_answer|safe}};
    survey.data = surveyData;
    {% endif %}

    survey.mode = 'display';
    survey.isSinglePage = true;

    $("#surveyElement").Survey({model: survey});

    $(document).ready(function() {
        // setTimeout(function() {
        //     writePDF();
        // }, 1000);
        // writePDF();
        autosize();
        setTimeout(() => { window.print(); }, 1000);
    })

    function autosize(){
      var textareaList = document.querySelectorAll('textarea');
        textareaList.forEach(function(el) {
            el.style.boxSizing = el.style.mozBoxSizing = 'border-box';
            el.style.overflowY = 'hidden';

            var minHeight = el.scrollHeight;

            el.addEventListener('change', function() {
                adjustHeight(el, minHeight);
            });

            // we have to readjust when window size changes (e.g. orientation change)
            window.addEventListener('resize', function() {
                adjustHeight(el, minHeight);
            });

            // we adjust height to the initial content
            el.focus()
            el.select()
            adjustHeight(el, minHeight);
        })
    }

    function adjustHeight(el, minHeight) {
        console.log('adjusting...');
        el.style.cssText = 'height:auto; padding:0';
        el.style.cssText = 'height:' + el.scrollHeight + 'px;';
    }
</script>
{% endblock %}