{% for treatment in items %}
<tr data-created_at="{{treatment.created_at}}">
    <td class="col-2 table-increased-font-cell">{{treatment.name}}</td>
    <td class="col-1 table-increased-font-cell">{{treatment.created_at|datetimeformat('%m/%d/%Y')}}</td>
    <td class="col-1 table-increased-font-cell">{{treatment.register_name}}</td>
    <td class="col-1 table-increased-font-cell">{{treatment.created_by}}</td>
    <td class="col-1 table-increased-font-cell">{{treatment.assigned_to}}</td>
    <td class="col-1 table-increased-font-cell">{{treatment.validated_by}}</td>
    <td class="col-1 table-increased-font-cell">{{treatment.type_name}}</td>
    <td class="col-1 table-increased-font-cell status-cell">{{treatment.status_name}}</td>
    <td class="col-1 table-increased-font-cell">{{treatment.audit_end_date|datetimeformat('%m/%d/%Y')}}</td>
    <!--<td class="table-increased-font-cell">{% if treatment.need_PIA %} Yes {% endif %}</td>-->
    <td class="table-action-cell">
        {% if treatment.assigned_to == current_user.username %}
        <a href="{{url_for('assignments.play_treatment', treatment_id=treatment.id)}}" data-toggle="tooltip" data-placement="top" title="{{_('Play')}}">
            <i class="fa fa-play"></i>
        </a>
        {% else %}
        <a href="{{url_for('assignments.view_treatment', treatment_id=treatment.id)}}" data-toggle="tooltip" data-placement="top" title="{{_('View')}}">
            <i class="fa fa-eye"></i>
        </a>
        {% endif %}

        <a href="{{url_for('assignments.update_treatment', treatment_id=treatment.id)}}" data-toggle="tooltip" data-placement="top" title="{{_('Edit')}}">
            <i class="fa fa-pencil"></i>
        </a>
        <a href="{{url_for('assignments.export_treatment', treatment_id=treatment.id)}}" data-toggle="tooltip" data-placement="top" title="{{_('Export')}}">
            <i class="fa fa-download"></i>
        </a>
        <a href="javascript:;" onClick="exportPDF('{{url_for('assignments.export_treatment_to_pdf', treatment_id=treatment.id)}}')" data-toggle="tooltip" data-placement="top" title="{{_('Export to PDF')}}" >
            <i class="fa fa-file-pdf-o"></i>
        </a>
        <a href="{{url_for('assignments.delete_treatment', treatment_id=treatment.id)}}" data-toggle="tooltip" data-placement="top" title="{{_('Delete')}}">
            <i class="fa fa-trash"></i>
        </a>
        <a href="{{url_for('assignments.duplicate_treatment', treatment_id=treatment.id)}}" data-toggle="tooltip" data-placement="top" title="{{_('Duplicate')}}">
            <i class="fa fa-copy"></i>
        </a>
    </td>
</tr>
{% endfor %}

<script>
    last_evaluated_key = JSON.parse('{{last_evaluated_key|safe}}');
</script>