{%- extends "layout.html" -%}
{%- from "_helpers.html" import render_field -%}

{%- block main -%}
<div class="container">
    <h2 class="page-title">{{_('Register of Treatments')}}</h2>
    <iframe src="" id="survey-export-frame"></iframe>
    <div class="container-fluid">
        <div class="search-bar">
            <form class="form-inline" action="{{url_for('assignments.treatments')}}" method="GET">
                <div class="form-group">
                    {{_('Name')}}:&nbsp;{{ search_form.name(class="form-control") }}
                </div>
                <div class="form-group mx-sm-3">
                    {{_('Status')}}:&nbsp; {{ search_form.status(class="form-control")}}
                </div>
                <div class="form-group mx-sm-3">
                    {{_('Register')}}:&nbsp; {{ search_form.register_id(class="form-control")}}
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" type="submit">{{_('Search')}}</button>
                </div>

                <a class="mx-sm-4 btn btn-primary" href="{{url_for('assignments.export_all_treatment')}}" data-toggle="tooltip" data-placement="top"">
                    {{_('Export All')}}
                </a>

            </form>
        </div>

        <div class="table-responsive table-custom">
            <table id="result_table" class="table table-striped table-bordered">
                <thead class="thead-light">
                    <tr>
                        <th class="table-increased-font-cell">{{_('Name')}}</th>
                        <th class="table-increased-font-cell">{{_('Created at')}}</th>
                        <th class="table-increased-font-cell">{{_('Register')}}</th>
                        <th class="table-increased-font-cell">{{_('Created by')}}</th>
                        <th class="table-increased-font-cell">{{_('Assigned')}}</th>
                        <th class="table-increased-font-cell">{{_('Validator')}}</th>
                        <th class="table-increased-font-cell">{{_('Type')}}</th>
                        <th class="table-increased-font-cell expanded-cell">{{_('Status')}}</th>
                        <th class="table-increased-font-cell expanded-cell">{{_('End of Audit')}}</th>
                        <!--<th class="table-increased-font-cell">{{_('Contractor')}}</th>-->
                        <th class=""></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>

            <div class="text-center">
                <button id="btn-load-more" type="button" class="btn btn-outline-dark">{{_('Load more')}}</button>
            </div>
        </div>
    </div>
</div>
{%- endblock -%}

{%- block scripts -%}
{{super()}}
<!-- Include vendor scripts here. -->

<script>
    var ajax_url = "{{url_for('assignments.treatment_list')}}";
    var last_evaluated_key = null;
    var name="{{search_form.name.data}}",
        status="{{search_form.status.data}}",
        register_id="{{search_form.register_id.data}}";

    var noHint = "{{_('No treatment was found')}}";

    $('#btn-load-more').click(function() {
        // Compose
        console.log(last_evaluated_key);
        $.ajax({
            type: "POST",
            url: ajax_url,
            data: JSON.stringify({name: name, status: status, register_id: register_id, last_evaluated_key: last_evaluated_key}),
            contentType: 'application/json',
            success: function(data) {
                eval($(data).last().html()); // Update last evaluated key
                var rows = $(data).filter('tr');
                if(rows.length > 0) {
                    $('#result_table > tbody:last-child').append(rows);
                }

                if(!last_evaluated_key)
                    $('#btn-load-more').hide();
            }
        });
    });

    $(document).ready(function () {
        $.ajax({
            type: "POST",
            url: ajax_url,
            data: JSON.stringify({name: name, status: status, register_id: register_id, last_evaluated_key: last_evaluated_key}),
            contentType: 'application/json',
            success: function(data) {
                eval($(data).last().html());
                console.log(last_evaluated_key);
                var rows = $(data).filter('tr');
                if(rows.length > 0) {
                    $('#result_table > tbody:last-child').append(rows);
                }
                else {
                    $('#result_table > tbody:last-child')
                        .append('<tr>' +
                            '<td colspan="10" class="text-center">\n' + $(noHint) + '\n' + '</td>\n' + '</tr>');
                }
                if(!last_evaluated_key)
                    $('#btn-load-more').hide();
            }
        });
    });

    function exportPDF(url) {
        document.getElementById("survey-export-frame").src = url;
    }
</script>
{% endblock %}