{%- extends "layout.html" -%}
{%- from "_helpers.html" import render_field -%}

{%- block main -%}
<div class="container">
    <h2 class="page-title">Update register</h2>
    <form class="crud-form container-fluid" action="{{url_for('assignments.update', register_id=register_id)}}" method="POST">

        {{form.csrf_token}}
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    {{form.name.label}}
                    {{form.name(class='form-control')}}
                </div>
            </div>

        </div>
        <div class="m-t-20 text-right">
            <button type="submit" class="btn btn-primary">{{_('Update')}}</button>
        </div>

    </form>
</div>
{%- endblock -%}