{%- extends "layout.html" -%}
{%- from "_helpers.html" import render_field -%}

{%- block main -%}
<div class="container">
    <h2 class="page-title">{{_('Update Password')}}</h2>
    <form class="crud-form col-9 mx-auto" action="{{url_for('auth.change_password')}}" method="POST">

        {{form.csrf_token}}
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    {{form.old_password.label}}
                    {{form.old_password(class='form-control')}}
                </div>

                <div class="form-group">
                    {{form.new_password.label}}
                    {{form.new_password(class='form-control')}}
                </div>

                <div class="form-group">
                    {{form.confirm_password.label}}
                    {{form.confirm_password(class='form-control')}}
                </div>
            </div>
        </div>
        <div class="m-t-20 text-right">
            <button type="submit" class="btn btn-primary">{{_('Update')}}</button>
        </div>
    </form>

</div>
{%- endblock -%}
