{%- extends "layout.html" -%}
{%- from "_helpers.html" import render_field -%}

{%- block main -%}
    <div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-t-50 p-b-90">
				<form class="login100-form validate-form flex-sb flex-w" method="POST">
                    {{- form.hidden_tag() -}}
					<span class="login100-form-title p-b-51">
						{{_('Authentication')}}
					</span>

					{{ render_field(form.username, class="input100", placeholder=_('Username')) }}
					{{ render_field(form.password, class="input100", placeholder=_('Password')) }}

					<div class="flex-sb-m w-full p-t-3 p-b-24">
						<div class="contact100-form-checkbox">
							<input class="input-checkbox100" id="ckb1" type="checkbox" name="remember_me">
							<label class="label-checkbox100" for="ckb1">
								{{_('Remember me')}}
							</label>
						</div>

						<div>
							<a href="#" class="txt1">
								{{_('Forgot password?')}}
							</a>
						</div>
					</div>

					<div class="container-login100-form-btn m-t-17">
						<input class="login100-form-btn" type="submit" value="{{_('Log In')}}">
					</div>

				</form>
			</div>
		</div>
	</div>

{%- endblock -%}