{%- extends "layout.html" -%}
{%- from "_helpers.html" import render_field -%}

{%- block main -%}
<div class="container">
    <h2 class="page-title">{{_('Change profile')}}</h2>
    <form class="crud-form col-md-9 mx-auto" action="{{url_for('auth.profile')}}" method="POST">

        {{form.csrf_token}}
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    {{form.first_name.label}}
                    {{form.first_name(class='form-control')}}
                </div>

                <div class="form-group">
                    {{form.last_name.label}}
                    {{form.last_name(class='form-control')}}
                </div>

                <div class="form-group">
                    {{form.phone.label}}
                    {{form.phone(class='form-control')}}
                </div>

                <div class="form-group">
                    {{form.email.label}}
                    {{form.email(class='form-control')}}
                </div>

                <div class="form-group">
                    {{form.services_included.label}}
                    {{form.services_included(class='form-control')}}
                </div>
            </div>
        </div>
        <div class="m-t-20 text-right">
            <button type="submit" class="btn btn-primary">{{_('Update')}}</button>
        </div>
    </form>

</div>
{%- endblock -%}
