{%- extends "layout.html" -%}
{%- from "_helpers.html" import render_field -%}

{%- block main -%}
<div class="container">
    <h2 class="page-title">{{_('New employee')}}</h2>
    <form class="crud-form container-fluid" action="{{url_for('users.add')}}" method="POST">

        {{form.csrf_token}}
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    {{form.username.label}}
                    {{form.username(class='form-control')}}
                </div>

                <div class="form-group">
                    {{form.first_name.label}}
                    {{form.first_name(class='form-control')}}
                </div>

                <div class="form-group">
                    {{form.last_name.label}}
                    {{form.last_name(class='form-control')}}
                </div>

                <div class="form-group">
                    {{form.phone.label}}
                    {{form.phone(class='form-control')}}
                </div>

                <div class="form-group">
                    {{form.email.label}}
                    {{form.email(class='form-control')}}
                </div>

                <!--<div class="form-group">-->
                    <!--{{form.licence.label}}-->
                    <!--{{form.licence(class='form-control')}}-->
                <!--</div>-->

            </div>

            <div class="col-md-6">
                <div class="form-group">
                    {{form.expiration_date.label}}
                    {{form.expiration_date(class='form-control', datepicker='')}}
                </div>

                <div class="form-group">
                    {{form.services_included.label}}
                    {{form.services_included(class='form-control')}}
                </div>

                <div class="form-group">
                    {{form.password.label}}
                    {{form.password(class='form-control')}}
                </div>

                <div class="form-group">
                    {{form.role.label}}
                    {{form.role(class='form-control')}}
                </div>

                <div class="form-group">
                    {{form.user_type.label}}
                    {{form.user_type(class='form-control')}}
                </div>

                {% if form.company_id %}
                <div class="form-group">
                    {{form.company_id.label}}
                    {{form.company_id(class='form-control')}}
                </div>
                {% endif %}
            </div>
        </div>
        <div class="m-t-20 text-right">
            <button type="submit" class="btn btn-primary">{{_('Add')}}</button>
        </div>

    </form>
</div>
{%- endblock -%}

{% block scripts %}
{{super()}}
<script>
    $('#expiration_date').attr("autocomplete", "off");
    $('#password').attr("autocomplete", "off");
</script>
{% endblock %}