{%- extends "layout.html" -%}
{%- from "_helpers.html" import render_field -%}

{%- block main -%}
<div class="container">
    <h2 class="page-title">Assign role</h2>
    <form class="crud-form container-fluid" action="{{url_for('users.assign_role')}}" method="POST">

        {{form.csrf_token}}
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    {{form.username.label}}
                    {{form.username(class='form-control')}}
                </div>

                <div class="form-group">
                    {{form.role.label}}
                    {{form.role(class='form-control')}}
                </div>
            </div>
        </div>
        <div class="m-t-20 text-right">
            <button type="submit" class="btn btn-primary">{{_('Assign')}}</button>
        </div>

    </form>
</div>
{%- endblock -%}