{%- extends "layout.html" -%}
{%- from "_helpers.html" import render_field -%}

{%- block main -%}
<div class="container">
    <h2 class="page-title">{{_('Employees')}}</h2>
    <div class="text-right table-actions">
        <a class="btn btn-primary" href="{{url_for('users.add')}}">+ {{_('Add')}}</a>
    </div>
    <table class="table table-striped table-bordered">
        <thead class="thead-light">
        <tr>
            <th>{{_('User name')}}</th>
            <th>{{_('First name')}}</th>
            <th>{{_('Last name')}}</th>
            <th>{{_('Phone')}}</th>
            <th>{{_('Email')}}</th>
            <th>{{_('Expiration Date')}}</th>
            <th>{{_('Role')}}</th>
            <th>{{_('Type of user')}}</th>
            <th>{{_('Company')}}</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% if not users %}
        <tr>
            <td colspan="11" class="text-center">
                {{_('No user was found')}}
            </td>
        </tr>
        {% endif %}

        {% for user in users %}
        <tr>
            <td>{{user.username}}</td>
            <td>{{user.first_name}}</td>
            <td>{{user.last_name}}</td>
            <td>{{user.phone}}</td>
            <td>{{user.email}}</td>
            <td>{{user.expiration_date|datetimeformat('%m/%d/%Y')}}</td>
            <td>{{user.role_name}}</td>
            <td>{{user.user_type_name}}</td>

            <td>{% if user.company_id %}{{user.company.name}} {% endif %}</td>
            <td class="table-action-cell">
                <a href="{{ url_for('users.update', user_id=user.username) }}" data-toggle="tooltip" data-placement="top" title="{{_('Edit')}}">
                    <!--{{_('Edit')}}--><i class="fa fa-pencil"></i>
                </a>
                <a href="{{url_for('users.export', user_id=user.username)}}" data-toggle="tooltip" data-placement="top" title="{{_('Export')}}">
                    <i class="fa fa-download"></i>
                </a>
                <a href="{{ url_for('users.delete', user_id=user.username) }}" data-toggle="tooltip" data-placement="top" title="{{_('Delete')}}">
                    <!--{{_('Delete')}}--><i class="fa fa-trash"></i>
                </a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{%- endblock -%}