{%- extends "layout.html" -%}
{%- from "_helpers.html" import render_field -%}

{%- block main -%}
<div class="container">
    <h2 class="page-title">{{_('New Company')}}</h2>
    <div class="row">
        <div class="col-9 mx-auto">
            <form class="crud-form container-fluid" action="{{url_for('companies.add')}}" method="POST">

                {{form.csrf_token}}
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            {{form.name.label}}
                            {{form.name(class='form-control')}}
                        </div>

                        <div class="form-group">
                            {{form.address.label}}
                            {{form.address(class='form-control')}}
                        </div>

                        <div class="form-group">
                            {{form.city.label}}
                            {{form.city(class='form-control')}}
                        </div>

                        <div class="form-group">
                            {{form.zipcode.label}}
                            {{form.zipcode(class='form-control')}}
                        </div>

                        <div class="form-group">
                            {{form.country.label}}
                            {{form.country(class='form-control')}}
                        </div>

                        <div class="form-group">
                            {{form.sector_of_activity.label}}
                            <div class="input-group">
                                {{form.sector_of_activity(class='form-control', autocomplete="off")}}
                                {% if current_user.is_dpo %}
                                <div class="input-group-append">
                                    <button id="add-activity-sector" class="input-group-text">
                                        +
                                    </button>
                                </div>
                                {% endif %}
                            </div>
                        </div>

                        <div class="form-group">
                            {{form.language.label}}
                            {{form.language(class='form-control')}}
                        </div>

                    </div>

                </div>
                <div class="m-t-20 text-right">
                    <button type="submit" class="btn btn-primary">{{_('Add')}}</button>
                </div>

            </form>
        </div>
    </div>

</div>
{%- endblock -%}

{% block scripts %}
{{super()}}
<script>
    var elSector = document.getElementById('sector_of_activity');
    var autoComplete = new Awesomplete(elSector);
    $('#sector_of_activity').attr("autocomplete", "off");

    function loadSectors() {
        var get_sector_url = "{{url_for('api.activity_sectors.get_all')}}";
        $.get(get_sector_url, function (data) {
            autoComplete.list = data;
        });
    }

    loadSectors();

    $('#add-activity-sector').click(function (event) {
        var url = "{{url_for('api.activity_sectors.add')}}";

        event.preventDefault();
        $.post(url, {name: $(elSector).val()}, function (data) {
            loadSectors();
        });
        return false;
    });
</script>
{% endblock %}