{%- extends "layout.html" -%}
{%- from "_helpers.html" import render_field -%}

{%- block main -%}
<div class="container">
    <h2 class="page-title">
        <span></span>{{_('Companies')}}</span>
        <div class="pull-right table-actions">
            <a class="btn btn-primary" href="{{url_for('companies.add')}}">+ {{_('Add')}}</a>
        </div>
    </h2>
    <div class="container-fluid">
        <table class="table table-striped table-bordered">
            <thead class="thead-light">
            <tr>
                <th scope="thead-main">{{_('ID')}}</th>
                <th>{{_('Name')}}</th>
                <th>{{_('Address')}}</th>
                <th>{{_('City')}}</th>
                <th>{{_('Zip code')}}</th>
                <th>{{_('Country')}}</th>
                <th>{{_('Sector of activity')}}</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% if not companies %}
            <tr>
                <td colspan="11" class="text-center">
                    {{_('No company was found')}}
                </td>
            </tr>
            {% endif %}

            {% for company in companies %}
            <tr class="table-list-item" data-control="href" data-url="{{url_for('companies.users', company_id=company.id)}}">
                <td>{{company.id}}</td>
                <td>{{company.name}}</td>
                <td>{{company.address}}</td>
                <td>{{company.city}}</td>
                <td>{{company.zipcode}}</td>
                <td>{{company.country}}</td>
                <td>{{company.sector_of_activity}}</td>
                <td class="table-action-cell">
                    <a href="{{ url_for('companies.update', company_id=company.id) }}" data-toggle="tooltip" data-placement="top" title="{{_('Edit')}}">
                        {{_('Edit')}}
                    </a>|
                    <a href="{{ url_for('companies.delete', company_id=company.id) }}" data-toggle="tooltip" data-placement="top" title="{{_('Delete')}}">
                        {{_('Delete')}}
                    </a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{%- endblock -%}