{%- extends "layout.html" -%}
{%- from "_helpers.html" import render_field -%}

{%- block main -%}
<div class="container">
    <h2 class="page-title">{{_('Update company')}}</h2>
    <form class="crud-form container-fluid" action="{{url_for('companies.update', company_id=company.id)}}"
          method="POST">

        {{form.csrf_token}}
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    {{form.name.label}}
                    {{form.name(class='form-control')}}
                </div>

                <div class="form-group">
                    {{form.address.label}}
                    {{form.address(class='form-control')}}
                </div>

                <div class="form-group">
                    {{form.city.label}}
                    {{form.city(class='form-control')}}
                </div>

                <div class="form-group">
                    {{form.zipcode.label}}
                    {{form.zipcode(class='form-control')}}
                </div>

                <div class="form-group">
                    {{form.country.label}}
                    {{form.country(class='form-control')}}
                </div>

                <div class="form-group">
                    {{form.sector_of_activity.label}}
                    {{form.sector_of_activity(class='form-control')}}
                </div>

                <div class="form-group">
                    {{form.language.label}}
                    {{form.language(class='form-control')}}
                </div>


            </div>
        </div>
        <div class="m-t-20 text-right">
            <button type="submit" class="btn btn-primary">{{_('Update')}}</button>
        </div>

    </form>
</div>

{%- endblock -%}