{%- extends "layout.html" -%}
{%- from "_helpers.html" import render_field -%}

{%- block main -%}
<div class="container">
    <h2 class="page-title">{{_('Company detail')}}</h2>
    <div class="container-fluid">
        <div class="p-b-10 p-t-10">
            <div class="row">
                <div class="col-3">
                    {{_('Name')}}:
                </div>
                <div class="col-6">
                    {{company.name}}
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    {{_('Address')}}:
                </div>
                <div class="col-6">
                    {{company.address}}
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    {{_('City')}}:
                </div>
                <div class="col-6">
                    {{company.city}}
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    {{_('Zip code')}}:
                </div>
                <div class="col-6">
                    {{company.zipcode}}
                </div>
            </div>

            <div class="row">
                <div class="col-3">
                    {{_('Country')}}:
                </div>
                <div class="col-6">
                    {{company.country}}
                </div>
            </div>

            <div class="row">
                <div class="col-3">
                    {{_('Sector of activity')}}:
                </div>
                <div class="col-6">
                    {{company.sector_of_activity}}
                </div>
            </div>

            <div class="row">
                <div class="col-3">
                    {{_('Language')}}:
                </div>
                <div class="col-6">
                    {{company.language}}
                </div>
            </div>
        </div>

        <div class="text-right table-actions">
            <a class="btn btn-primary" href="{{url_for('companies.add_user', company_id=company.id)}}">+ {{_('Add')}}</a>
        </div>

        <table class="table table-striped table-bordered">
            <thead class="thead-light">
            <tr>
                <th>{{_('User name')}}</th>
                <th>{{_('First name')}}</th>
                <th>{{_('Last name')}}</th>
                <th>{{_('Phone')}}</th>
                <th>{{_('Email')}}</th>
                <th>{{_('Expiration Date')}}</th>
                <th>{{_('Role')}}</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% if not users %}
            <tr>
                <td colspan="11" class="text-center">
                    {{_('No user was found')}}
                </td>
            </tr>
            {% endif %}

            {% for user in users %}
            <tr>
                <td>{{user.username}}</td>
                <td>{{user.first_name}}</td>
                <td>{{user.last_name}}</td>
                <td>{{user.phone}}</td>
                <td>{{user.email}}</td>
                <td>{{user.expiration_date|datetimeformat('%m/%d/%Y')}}</td>
                <td>{{user.role}}</td>
                <td>
                    <a href="{{ url_for('companies.update_user', company_id=company.id, user_id=user.username) }}" data-toggle="tooltip" data-placement="top" title="{{_('Edit')}}">
                        {{_('Edit')}}
                    </a>|
                    <a href="{{ url_for('companies.delete_user', company_id=company.id, user_id=user.username) }}" data-toggle="tooltip" data-placement="top" title="Delete">
                        {{_('Delete')}}
                    </a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{%- endblock -%}